* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #fff2d8;
}
h1 {
    display: flex;
    justify-content: center;
    height: 50vh;
    margin-top: 25vh;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    font-family: "IBM Plex Serif", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 100px;
    margin-bottom: 200px;
    color: #113946;
}
.header {
    max-width: 400px;
    border: 4px black solid;
    padding: 10px;
}

.buttonContainer {
    display: flex;
    gap: 10px;
    border-bottom: 4px solid black;
    padding: 5px;
}
.arrayButtons {
    border-radius: 100px;
    border: none;
    font-family: "IBM Plex Serif", serif;
    font-weight: 350;
    font-style: normal;
    padding: 10px;
    color: #113946;
    background-color: #BCA37F;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.booksArray {
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    float: left;
    border-radius: 5px;
    margin-right: 20px;
}
h3 {
    font-family: "IBM Plex Serif", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    color: #113946;
}
.bookContainer {
    width: 650px;
    padding: 10px;
    margin-top: 30px;
}
p, footer {
    font-family: "IBM Plex Serif", serif;
    font-style: normal;
    color: #113946;
}
.readAndRate {
    margin-top: 15px;
    margin-bottom: 15px;
}
.author {
    margin-bottom: 15px;
}
.bookTilesLink {
    text-decoration-color: #EAD7BB;
}

footer {
    background-color: #BCA37F;
    margin-top: 300px;
}